@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  overflow-x: hidden;
  width: 100vw;
  color: #333;
  font-family: "LINESeedKR-Bd";
}

.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.material-symbols-outlined {
  color: #000;
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
header .container {
  height: 120px;
}
header h1.logo {
  position: absolute;
  bottom: 25px;
}
header h1.logo a {
  display: block;
  width: 150px;
  height: 48px;
  text-indent: -9999px;
  background-image: url("./../images/logo_150x72.png");
  background-position: center;
  background-repeat: no-repeat;
}
header nav {
  position: absolute;
  left: 240px;
  bottom: 25px;
}
header nav .gnb {
  display: flex;
  align-items: center;
  height: 48px;
}
header nav .gnb li.li--artbox {
  background-image: url("./../images/logo_artbox_ssd.png");
  background-position: center;
  background-repeat: no-repeat;
}
header nav .gnb li.li--artbox a {
  width: 85px;
  height: 15px;
  text-indent: -9999px;
}
header nav .gnb li a {
  display: block;
  padding: 5px 10px;
  font-weight: 800;
  font-size: 18px;
}
header nav .gnb li:hover a {
  color: rgb(229, 0, 25);
}
header .search {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 25px;
  left: 780px;
  height: 48px;
}
header .search input {
  background: none;
  border: none;
  outline: none;
  padding: 0 48px 0 10px;
  width: 230px;
  height: 30px;
  font-size: 14px;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
}
header .search input::-moz-placeholder {
  color: #000;
}
header .search input:-ms-input-placeholder {
  color: #000;
}
header .search input::placeholder {
  color: #000;
}
header .search .material-symbols-outlined {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
header .sub-menu {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 25px;
  right: 0px;
  height: 48px;
}
header .sub-menu li {
  position: relative;
  margin: 0 12px;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background-image: url("./../images/ico_common.png");
  cursor: pointer;
}
header .sub-menu li:nth-child(1) {
  background-position: -116px -60px;
}
header .sub-menu li:nth-child(2) {
  background-position: -76px -100px;
}
header .sub-menu li:nth-child(3) {
  background-position: -36px -100px;
}
header .sub-menu li:nth-child(3)::after {
  display: block;
  position: absolute;
  top: 2px;
  right: -5px;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 12px;
  text-indent: 0;
  text-align: center;
  background-color: #ED1C24;
  border-radius: 50%;
  content: "0";
}

main {
  padding: 120px 0 80px;
}
main section h2 {
  width: 180px;
  height: 36px;
  margin: 50px auto 30px;
  text-indent: -9999px;
  background-image: url(./../images/log_270_54.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
main section .top_btn {
  display: flex;
  position: absolute;
  top: 0px;
  right: 100px;
}
main section .top_btn a {
  display: block;
  margin: 0 15px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  background-image: url(./../images/ico_disp.png);
}
main section .top_btn a:first-child {
  background-position: -32px -116px;
}
main section .top_btn a:last-child {
  background-position: 0 -116px;
}
main section .top_btn a.clicked {
  background-position: -64px -116px;
}
main section nav {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
main section nav ul {
  display: flex;
  position: relative;
  padding: 15px;
}
main section nav ul:first-child::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 12px;
  background-color: #333;
  content: "";
}
main section nav ul li a {
  display: block;
  padding: 0 15px;
  font-weight: 800;
  font-size: 16px;
}
main section nav ul li:hover a {
  color: rgb(229, 0, 25);
}
main .visual {
  width: 100%;
}
main .visual .slide_container {
  overflow: hidden;
  position: relative;
  width: 1500px;
  height: 410px;
  margin: 0 auto;
}
main .visual .slide_container ul {
  display: grid;
  grid-template-columns: repeat(7, 480px);
  gap: 30px;
  position: absolute;
  left: -510px;
  width: 100%;
  transition: left 0.4s;
}
main .visual .slide_container ul li {
  background-size: 100%;
  background-position: center;
  border-radius: 55px;
  transform: translateY(30px);
  filter: brightness(0.6);
  transition: transform 0.8s, background-size 0.2s;
}
main .visual .slide_container ul li.slide_1 {
  background-image: url(./../images/visual_banner1.jpg);
}
main .visual .slide_container ul li.slide_2 {
  background-image: url(./../images/visual_banner2.jpg);
}
main .visual .slide_container ul li.slide_3 {
  background-image: url(./../images/visual_banner3.jpg);
}
main .visual .slide_container ul li.slide--active {
  filter: brightness(1);
  transform: translateY(0px);
}
main .visual .slide_container ul li.slide--active a > .slide__text {
  display: block;
}
main .visual .slide_container ul li.slide--active:hover {
  background-size: 105%;
}
main .visual .slide_container ul li a {
  display: block;
  position: relative;
  width: 480px;
  height: 380px;
}
main .visual .slide_container ul li a .slide__text {
  display: none;
  position: absolute;
  left: 40px;
  bottom: 40px;
}
main .visual .slide_container ul li a .slide__text h4 {
  width: 80%;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  word-break: keep-all;
}
main .visual .slide_container ul li a .slide__text p {
  font-size: 22px;
  line-height: 1.2;
}
main .visual .indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
main .visual .indicator button {
  border: none;
  outline: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}
main .visual .indicator span {
  font-weight: 600;
}
main .bg_box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 500px;
  background-color: #FFA58C;
  z-index: -1;
}

.banner {
  margin-bottom: 80px;
}
.banner a img {
  border-radius: 15px;
}

.best .best__title {
  position: relative;
}
.best .best__title h3 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 1.5;
  cursor: default;
  padding: 50px;
}
.best .best__title div {
  position: absolute;
  top: 50px;
  right: 20px;
}
.best .best__title div a {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.best .best__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 35px;
}
.best .best__items li {
  margin-bottom: 18px;
}
.best .best__items li > a {
  display: block;
  position: relative;
  width: 100%;
  height: 224px;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.2s;
}
.best .best__items li > a .lank {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  background-color: #ED1C24;
  border-radius: 15px 0 15px 0;
}
.best .best__items li:nth-child(1) > a {
  background-image: url(./../images/best_item1.jpg);
}
.best .best__items li:nth-child(2) > a {
  background-image: url(./../images/best_item2.jpg);
}
.best .best__items li:nth-child(3) > a {
  background-image: url(./../images/best_item3.jpg);
}
.best .best__items li:nth-child(4) > a {
  background-image: url(./../images/best_item4.jpg);
}
.best .best__items li:nth-child(5) > a {
  background-image: url(./../images/best_item5.jpg);
}
.best .best__items li:nth-child(6) > a {
  background-image: url(./../images/best_item6.jpg);
}
.best .best__items li:nth-child(7) > a {
  background-image: url(./../images/best_item7.jpg);
}
.best .best__items li:nth-child(8) > a {
  background-image: url(./../images/best_item8.jpg);
}
.best .best__items li:nth-child(9) > a {
  background-image: url(./../images/best_item9.jpg);
}
.best .best__items li:nth-child(10) > a {
  background-image: url(./../images/best_item10.jpg);
}
.best .best__items li:nth-child(1) > a:hover {
  background-image: url(./../images/best_item_back1.jpg);
}
.best .best__items li:nth-child(2) > a:hover {
  background-image: url(./../images/best_item_back2.jpg);
}
.best .best__items li:nth-child(3) > a:hover {
  background-image: url(./../images/best_item_back3.jpg);
}
.best .best__items li:nth-child(4) > a:hover {
  background-image: url(./../images/best_item_back4.jpg);
}
.best .best__items li:nth-child(5) > a:hover {
  background-image: url(./../images/best_item_back5.jpg);
}
.best .best__items li:nth-child(6) > a:hover {
  background-image: url(./../images/best_item_back6.jpg);
}
.best .best__items li:nth-child(7) > a:hover {
  background-image: url(./../images/best_item_back7.jpg);
}
.best .best__items li:nth-child(8) > a:hover {
  background-image: url(./../images/best_item_back8.jpg);
}
.best .best__items li:nth-child(9) > a:hover {
  background-image: url(./../images/best_item_back9.jpg);
}
.best .best__items li:nth-child(10) > a:hover {
  background-image: url(./../images/best_item_back10.jpg);
}
.best .best__items .item__info {
  padding: 0 20px;
  font-size: 13px;
  line-height: 1.5;
}
.best .best__items .item__info > span {
  font-weight: 600;
}
.best .best__items .item__info .name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.best .best__items .item__info .price {
  margin-top: 10px;
}
.best .best__items .item__info .price .sale {
  margin-right: 8px;
  color: #ED1C24;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -2px;
}
.best .best__items .item__info .price .price--bold {
  font-size: 20px;
  font-weight: 800;
}

.live {
  position: relative;
  margin-top: 100px;
  border: 1px solid transparent;
}
.live .bg_box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 420px;
  background-color: #f7f7f7;
  z-index: -1;
}
.live .container h3 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 1.5;
  cursor: default;
  margin: 100px 0 60px;
}
.live .container .video {
  overflow: hidden;
  margin: 0 auto;
  width: 880px;
  height: 495px;
  border-radius: 85px;
}
.live .container h4 {
  margin: 25px 0 50px;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  line-height: 1.5;
}
.live .container .diary {
  display: flex;
}
.live .container .diary li {
  display: flex;
  margin: 0 30px;
}
.live .container .diary li a {
  display: block;
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  transition: background-image 0.2s;
}
.live .container .diary li:nth-child(1) > a {
  background-image: url(./../images/diary_ivory1.jpg);
}
.live .container .diary li:nth-child(2) > a {
  background-image: url(./../images/diary_blue1.jpg);
}
.live .container .diary li:nth-child(1) > a:hover {
  background-image: url(./../images/diary_ivory2.jpg);
}
.live .container .diary li:nth-child(2) > a:hover {
  background-image: url(./../images/diary_blue2.jpg);
}
.live .container .diary li .item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.live .container .diary li .item__info .name {
  display: flex;
  width: 280px;
  height: 24px;
}
.live .container .diary li .item__info .name a {
  flex-grow: 1;
}
.live .container .diary li .item__info .name a:hover {
  text-decoration: underline;
}
.live .container .diary li .item__info .name button {
  background: none;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  background-image: url(./../images/ico_common.png);
  background-position: -141px -136px;
  cursor: pointer;
}
.live .container .diary li .item__info .name button.clicked {
  background-position: -165px -136px;
}
.live .container .diary li .item__info .price {
  margin-top: 10px;
}
.live .container .diary li .item__info .price .sale {
  margin-right: 8px;
  color: #ED1C24;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -2px;
}
.live .container .diary li .item__info .price .price--bold {
  font-size: 20px;
  font-weight: 800;
}

.recommend {
  margin-top: 120px;
  margin-bottom: 120px;
}
.recommend ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.recommend ul li:nth-child(1) > a > .frame {
  background-image: url(./../images/recommend_clean.jpg);
}
.recommend ul li:nth-child(2) > a > .frame {
  background-image: url(./../images/recommend_tumblr.jpg);
}
.recommend ul li:nth-child(3) > a > .frame {
  background-image: url(./../images/recommend_humidifier.jpg);
}
.recommend ul li:hover > a > .frame {
  background-size: 105%;
}
.recommend ul li a .frame {
  width: 400px;
  height: 240px;
  background-position: center;
  background-size: 100%;
  border-radius: 20px;
  transition: background-size 0.2s;
}
.recommend ul li a h4 {
  padding: 20px 10px;
  font-size: 22px;
  font-weight: 800;
}
.recommend ul li a .txt {
  display: flex;
  padding: 0 10px;
}
.recommend ul li a .txt p {
  flex-grow: 1;
  color: #444;
}
.recommend ul li a .txt span {
  color: #ED1C24;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: -2px;
}

/* New section */
.new {
  overflow: hidden;
  height: 480px;
}
.new .new__title {
  position: relative;
}
.new .new__title h3 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 1.5;
  cursor: default;
  padding: 50px;
}
.new .new__title div {
  position: absolute;
  top: 50px;
  right: 20px;
}
.new .new__title div a {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.new .new__products {
  display: flex;
  position: absolute;
  left: 0;
  width: 200%;
  transition: left 0.8s;
}
.new .new__products ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.new .new__products ul.page1 > li:nth-child(1) > a {
  background-image: url(./../images/new_product1.jpg);
}
.new .new__products ul.page1 > li:nth-child(2) > a {
  background-image: url(./../images/new_product2.jpg);
}
.new .new__products ul.page1 > li:nth-child(3) > a {
  background-image: url(./../images/new_product3.jpg);
}
.new .new__products ul.page1 > li:nth-child(4) > a {
  background-image: url(./../images/new_product4.jpg);
}
.new .new__products ul.page1 > li:nth-child(5) > a {
  background-image: url(./../images/new_product5.jpg);
}
.new .new__products ul.page2 > li:nth-child(1) > a {
  background-image: url(./../images/new_product6.jpg);
}
.new .new__products ul.page2 > li:nth-child(2) > a {
  background-image: url(./../images/new_product7.jpg);
}
.new .new__products ul.page2 > li:nth-child(3) > a {
  background-image: url(./../images/new_product8.jpg);
}
.new .new__products ul.page2 > li:nth-child(4) > a {
  background-image: url(./../images/new_product9.jpg);
}
.new .new__products ul.page2 > li:nth-child(5) > a {
  background-image: url(./../images/new_product10.jpg);
}
.new .new__products ul.page1 > li:nth-child(1) > a:hover {
  background-image: url(./../images/new_product_detail1.jpg);
}
.new .new__products ul.page1 > li:nth-child(2) > a:hover {
  background-image: url(./../images/new_product_detail2.jpg);
}
.new .new__products ul.page1 > li:nth-child(3) > a:hover {
  background-image: url(./../images/new_product_detail3.jpg);
}
.new .new__products ul.page1 > li:nth-child(4) > a:hover {
  background-image: url(./../images/new_product_detail4.jpg);
}
.new .new__products ul.page1 > li:nth-child(5) > a:hover {
  background-image: url(./../images/new_product_detail5.jpg);
}
.new .new__products ul.page2 > li:nth-child(1) > a:hover {
  background-image: url(./../images/new_product_detail6.jpg);
}
.new .new__products ul.page2 > li:nth-child(2) > a:hover {
  background-image: url(./../images/new_product_detail7.jpg);
}
.new .new__products ul.page2 > li:nth-child(3) > a:hover {
  background-image: url(./../images/new_product_detail8.jpg);
}
.new .new__products ul.page2 > li:nth-child(4) > a:hover {
  background-image: url(./../images/new_product_detail9.jpg);
}
.new .new__products ul.page2 > li:nth-child(5) > a:hover {
  background-image: url(./../images/new_product_detail10.jpg);
}
.new .new__products ul li a {
  display: block;
  width: 224px;
  height: 224px;
  border-radius: 20px;
  transition: background-image 0.2s;
}
.new .new__products ul li .product__info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.new .new__products ul li .product__info .artbox {
  font-weight: 600;
  line-height: 1.5;
}
.new .new__products ul li .product__info .name {
  font-size: 13px;
  cursor: pointer;
}
.new .new__products ul li .product__info .name:hover {
  text-decoration: underline;
}
.new .new__products ul li .product__info .price {
  margin-top: 15px;
}
.new .new__products ul li .product__info .price span {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: -1px;
}
.new .btns button {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 210px;
  width: 40px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
.new .btns button.prev {
  left: 0;
  border-radius: 0 10px 10px 0;
}
.new .btns button.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}
.new .btns button:hover {
  width: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.new .btns button span {
  color: #ccc;
  text-align: center;
  line-height: 36px;
}

.hot h3 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 1.5;
  cursor: default;
  margin: 120px 0 60px;
}
.hot ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}
.hot ul li {
  background-color: #f7f7f7;
  border-radius: 20px;
}
.hot ul li.big {
  grid-row-end: span 2;
}
.hot ul li.big > a {
  margin: 60px auto 40px;
  width: 360px;
  height: 360px;
}
.hot ul li.big .item__info {
  padding: 50px;
}
.hot ul li.big .item__info .name {
  font-size: 28px;
  font-weight: 600;
}
.hot ul li.big .item__info .price {
  font-size: 24px;
}
.hot ul li.big .item__info .price span {
  font-size: 32px;
}
.hot ul li:nth-child(1) > a {
  background-image: url(../images/hot_item1.jpg);
}
.hot ul li:nth-child(2) > a {
  background-image: url(../images/hot_item2.jpg);
}
.hot ul li:nth-child(3) > a {
  background-image: url(../images/hot_item3.jpg);
}
.hot ul li:nth-child(4) > a {
  background-image: url(../images/hot_item4.jpg);
}
.hot ul li:nth-child(5) > a {
  background-image: url(../images/hot_item5.jpg);
}
.hot ul li:nth-child(6) > a {
  background-image: url(../images/hot_item6.jpg);
}
.hot ul li:nth-child(7) > a {
  background-image: url(../images/hot_item7.jpg);
}
.hot ul li > a {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.hot ul li .item__info {
  padding: 0 20px 20px;
  font-size: 13px;
  line-height: 1.5;
  box-sizing: border-box;
}
.hot ul li .item__info .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hot ul li .item__info .name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.hot ul li .item__info .price {
  margin-top: 10px;
}
.hot ul li .item__info .price .sale {
  margin-right: 8px;
  color: #ED1C24;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -2px;
}
.hot ul li .item__info .price .price--bold {
  font-size: 20px;
  font-weight: 800;
}

.babichon {
  margin: 140px 0;
  width: 100%;
  background-image: url(./../images/babichon_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #DDF2F7;
}
.babichon .container {
  height: 460px;
}
.babichon .container h3 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 1.5;
  cursor: default;
  text-align: left;
  line-height: 3.8;
  padding-left: 40px;
}
.babichon .container .slide {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 400px;
  width: 2760px;
  height: 210px;
  margin: auto;
}
.babichon .container .slide ul {
  display: flex;
  position: absolute;
  left: 0;
  transition: left 0.8s;
}
.babichon .container .slide ul li {
  overflow: hidden;
  margin-right: 20px;
  border-radius: 20px;
  opacity: 0.5;
  transition: opacity 0.4s;
}
.babichon .container .slide ul li:nth-child(1) > a > .item__img {
  background-image: url(../images/babichon1.jpg);
}
.babichon .container .slide ul li:nth-child(2) > a > .item__img {
  background-image: url(../images/babichon2.jpg);
}
.babichon .container .slide ul li:nth-child(3) > a > .item__img {
  background-image: url(../images/babichon3.jpg);
}
.babichon .container .slide ul li:nth-child(4) > a > .item__img {
  background-image: url(../images/babichon4.jpg);
}
.babichon .container .slide ul li:nth-child(5) > a > .item__img {
  background-image: url(../images/babichon5.jpg);
}
.babichon .container .slide ul li:nth-child(6) > a > .item__img {
  background-image: url(../images/babichon6.jpg);
}
.babichon .container .slide ul li:nth-child(7) > a > .item__img {
  background-image: url(../images/babichon7.jpg);
}
.babichon .container .slide ul li:nth-child(8) > a > .item__img {
  background-image: url(../images/babichon8.jpg);
}
.babichon .container .slide ul li:nth-child(9) > a > .item__img {
  background-image: url(../images/babichon9.jpg);
}
.babichon .container .slide ul li:nth-child(10) > a > .item__img {
  background-image: url(../images/babichon10.jpg);
}
.babichon .container .slide ul li:nth-child(11) > a > .item__img {
  background-image: url(../images/babichon11.jpg);
}
.babichon .container .slide ul li:nth-child(12) > a > .item__img {
  background-image: url(../images/babichon12.jpg);
}
.babichon .container .slide ul li.active {
  opacity: 1;
}
.babichon .container .slide ul li.active:hover .item__info {
  bottom: 0;
}
.babichon .container .slide ul li a {
  position: relative;
}
.babichon .container .slide ul li a .item__img {
  width: 210px;
  height: 210px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
}
.babichon .container .slide ul li a .item__info {
  position: absolute;
  left: 0;
  bottom: -80px;
  padding: 20px;
  width: 210px;
  height: 80px;
  color: #fff;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.3);
  transition: bottom 0.4s;
  box-sizing: border-box;
}
.babichon .container .slide ul li a .item__info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}
.babichon .container .slide ul li a .item__info p span {
  font-weight: 800;
}
.babichon .container .btns {
  display: flex;
  position: absolute;
  right: 0px;
  bottom: 50px;
}
.babichon .container .btns button {
  background: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12px;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.babichon .container .btns button:hover {
  border-color: #444;
}
.babichon .container .btns button.prev span {
  background-position: -152px -107px;
}
.babichon .container .btns button.next span {
  background-position: -164px -107px;
}
.babichon .container .btns button span {
  display: block;
  width: 12px;
  height: 18px;
  background-image: url(../images/ico_disp.png);
  background-repeat: no-repeat;
}

.etc {
  display: flex;
}
.etc div {
  flex-grow: 1;
}
.etc div h3 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 1.5;
  cursor: default;
  margin-bottom: 30px;
}
.etc div a {
  display: block;
  position: relative;
  height: 514px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: background-size 0.4s;
}
.etc div a:hover {
  background-size: 105%;
}
.etc div a span {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  color: #ccc;
  font-size: 35px;
  text-align: center;
  line-height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.etc div.friends > a {
  width: 620px;
  background-image: url(../images/friends.jpg);
}
.etc div.wallpaper div {
  display: flex;
}
.etc div.wallpaper div a {
  margin-left: 40px;
  width: 290px;
  background-position: center;
}
.etc div.wallpaper div a:nth-child(1) {
  background-image: url(../images/wallpaper_dec.png);
}
.etc div.wallpaper div a:nth-child(2) {
  background-image: url(../images/wallpaper_nov.png);
}

/* FOOTER */
footer {
  margin-top: 100px;
}
footer > div {
  border-top: 1px solid #dedede;
}
footer .ft__top ul {
  display: flex;
}
footer .ft__top ul li {
  position: relative;
  padding: 5px 0;
}
footer .ft__top ul li.bold > a {
  color: #ED1C24;
  font-size: 14px;
  font-weight: 800;
}
footer .ft__top ul li a {
  display: block;
  padding: 15px 20px;
  color: #777;
  font-size: 13px;
  font-weight: 600;
}
footer .ft__top ul li a:hover {
  text-decoration: underline;
}
footer .ft__top ul li::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 8px;
  background-color: #dedede;
}
footer .ft__top ul li:last-child::after {
  display: none;
}
footer .ft__btm .container {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
}
footer .ft__btm .container .logo {
  width: 165px;
  height: 55px;
  text-indent: -9999px;
  background-image: url(../images/logo_148x55.png);
  background-position: center;
  background-repeat: no-repeat;
}
footer .ft__btm .container .company {
  padding-right: 80px;
}
footer .ft__btm .container .company p {
  color: #777;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;
}
footer .ft__btm .container .company p.artbox {
  margin-bottom: 5px;
  color: #000;
  font-weight: 800;
}
footer .ft__btm .container .company .sns {
  margin: 15px 0 25px;
}
footer .ft__btm .container .company .sns button {
  border: none;
  background: none;
  margin-right: 8px;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  background-image: url(./../images/ico_common.png);
  cursor: pointer;
}
footer .ft__btm .container .company .sns button:nth-child(1) {
  background-position: 0 -52px;
}
footer .ft__btm .container .company .sns button:nth-child(2) {
  background-position: 0 -88px;
}
footer .ft__btm .container .company .sns button:nth-child(3) {
  background-position: 0 -124px;
}
footer .ft__btm .container .company .app {
  display: flex;
  align-items: center;
}
footer .ft__btm .container .company .app .qr {
  display: flex;
}
footer .ft__btm .container .company .app .qr .scan {
  margin: 0 20px 0 10px;
  font-size: 13px;
  font-weight: 600;
  color: #777;
}
footer .ft__btm .container .company .app .qr .scan span {
  display: block;
  color: #333;
  font-size: 15px;
  font-weight: 800;
  line-height: 1.8;
}
footer .ft__btm .container .company .app > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 94px;
  height: 35px;
  text-indent: -9999px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
footer .ft__btm .container .company .app > a img {
  display: block;
}
footer .ft__btm .container .company .app .inipay {
  margin-left: 30px;
  width: 65px;
  height: 65px;
}
footer .ft__btm .container .company .app .inipay img {
  width: 100%;
}
footer .ft__btm .container .center p {
  font-weight: 600;
  line-height: 1.5;
}
footer .ft__btm .container .center .title {
  font-size: 15px;
  font-weight: 800;
}
footer .ft__btm .container .center .number {
  font-size: 40px;
  font-weight: 800;
}
footer .ft__btm .container .center .btns button {
  margin: 10px 10px 0 0;
  padding: 3px 7px;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
footer .ft__copy {
  text-align: center;
  line-height: 100px;
}

.to_top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: 30;
  transition: background-color 0.2s;
}
.to_top:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.to_top span {
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */